@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#nav{
    position: fixed;
    width: 100%;
    height: 88px;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    z-index: 5;
}

#Logo{
    float: left;
    width: 80px;
    padding-left: 80px;
    padding-top: 20px
}

#buttons{
    float: right;
    
}

.navigation1{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ccb0a5;
    

}

.nav1{
    height: 100%;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav1 a{
    padding: 2rem 30px ;
    display: block;
    color: #58595B;
    text-align: center;
    text-decoration: none;
}

.nav1 a:hover:not(.active){
    background-color: #58595B;
    color: #ECEEED;
}

.active{
    background-color: #58595B;
    color: #ECEEED;
}

.dropdown-button{
    display: none;
}

.dropdown-item{
    display: block;
    width: 100%;
    padding: 1rem 2.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    background-color: #ccb0a5;
    text-decoration: none;
}

.dropdown-item:hover{
    background-color: #58595B;
    color: #ECEEED;
}

.dropdown-menu{
    margin-top: 25px;
    z-index: -5;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #58595B;
}
.btn#dropdown-basic{
    background:none;
    border: none;
    font-size: 25px;
    color: #58595B;
    cursor: pointer;
}
@media (max-width:970px){
    .dropdown-button{
        display: initial;
        float: right;
        padding: 30px;
    }
    #buttons{
        display: none;
    }
}